{{ define "main" }}
	<header>
		{{ partial "header.html" . }}
	</header>

	<h2>Portfolio</h2>

	<ul class="horizontal-list">
		{{ range index .Site.Data.portfolio.projects }}
			<li class="card">
				<a href="{{ .url }}">
					<span class="header">
						{{ .title }}
						{{ if eq .wip true }}
							<mark>WIP</mark>
						{{ end }}
					</span>
					<hr>
					<p class="body">
						{{ .description }}
					</p>
				</a>


	<h2>Blog</h2>

	<ul>
		{{ range where .Site.RegularPages "Type" "posts" }}
			<li class="post-list-item">
				{{ .Date | time.Format "2006-01-02" }}»
				<a href="{{ .Permalink }}">{{ .Title }}</a>
			</li>
		{{ end }}
	</ul>

	<footer>
		{{ partial "footer.html" . }}
	</footer>
{{ end }}
